*.DS_Store
*~
/.adobe
/.ansible
/.atom
/.autojump.txt*
/.bash_history
/.boot2docker
/.bundle
/.byebug_hist
/.bzr.log
/.cabal
/.cache
/.CFUserTextEncoding
/.config
/.cups
/.dropbox
/.dvm
/.ec2
/.elinks
/.erlang.cookie
/.fontconfig
/.freemind
/.gdb_history
/.gem
/.ghc
/.gist
/.gstreamer-*
/.guard_history
/.heroku
/.irb_history
/.lesshst
/.local
/.mysql_history
/.netrc
/.node-gyp
/.npm
/.omnifocus-trello.yml
/.pgpass
/.pry_history
/.psql_history
/.rbenv
/.rdebug_hist
/.rediscli_history
/.rnd
/.ruby_inline
/.secrets
/.sh_history
/.skylight
/.sqlite_history
/.ssh
/.takeup
/.Trash
/.tugboat
/.vagrant.d
/.vim-tmp
/.viminfo
/.vim/.netrwhist
/.Xauthority
/.zcompdump*
/.zsh-update
/.zsh_history
/Applications
/bin/subl
/Desktop
/dev
/Documents
/Dotfiles
/Downloads
/Dropbox
/Executables
/Google Drive
/Library
/Limelight
/Movies
/Music
/node_modules
/Pictures
/Public
/VirtualBox VMs
