[user]
  name = Maxim Chernyak
  email = max@bitsonnet.com

[alias]
  co = checkout
  st = status -sb
  # Push and track
  publish = push -u

[color]
  diff = auto
  status = auto
  branch = auto
  ui = auto

[core]
  excludesfile = ~/.gitignore_global
  autocrlf = input
  pager = less -FRSX

[apply]
  whitespace = nowarn

[push]
  default = current

[credential]
  helper = osxkeychain
